In [427]:
from influxdb import InfluxDBClient
from datetime import datetime as dt
import numpy as np
from collections import defaultdict
import csv
import pandas as pd
import matplotlib.pylab as plt
# ######### Here we are loading the export data ##############
temp_bill = []
temp_dates = []
with open('NEM12_8002180729_01-MAY-16-06-JUN-17.csv', 'r') as billCSV:
	data = csv.reader(billCSV)
	takeValues = False
	for each in data:
		if each[0] == '100':
			continue
		elif each[0] == '200':
			if each[7] == 'KWH':
				takeValues = True
				if each[4] == 'B1':
					ty = 'export'
				else:
					ty = 'import'
			else:
				takeValues = False
		elif each[0] == '300' and takeValues:    
			k = each[2: each.index('A')]
			k.append(ty)
			temp_bill.append(k)           
			temp_dates.append(each[1])

# for each in temp_bill:
# 	print(each)
# 	print()

temp_cols = ['00:00', '00:30', '01:00', '01:30', '02:00', '02:30', '03:00', '03:30', '04:00', '04:30', '05:00', '05:30',
			'06:00', '06:30', '07:00', '07:30', '08:00', '08:30', '09:00', '09:30', '10:00', '10:30', '11:00', '11:30',
			'12:00', '12:30', '13:00', '13:30', '14:00', '14:30', '15:00', '15:30', '16:00', '16:30', '17:00', '17:30',
			'18:00', '18:30', '19:00', '19:30', '20:00', '20:30', '21:00', '21:30', '22:00', '22:30', '23:00', '23:30', "Import_Export"]
billData = pd.DataFrame(temp_bill, index=temp_dates, columns=temp_cols)
billData.index = pd.to_datetime(billData.index)
billData['weekday'] = billData.index.weekday.values

In [428]:
billData

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30,Import_Export,weekday
2017-05-01,12.368,12.224,12.368,12.224,12.304,12.304,12.464,12.192,12,12.336,...,13.728,13.744,13.856,13.984,14.272,13.792,14,13.952,import,0
2017-05-02,14.32,14.048,14.096,14.528,14.048,14.448,14.176,14.56,14.432,14.064,...,15.232,14.672,14.64,14.56,14.496,14.592,14.528,14.384,import,1
2017-05-03,14.544,14.752,14.464,14.528,14.432,14.592,14.672,14.88,14.464,14.544,...,14.528,13.456,13.376,13.504,13.872,14.176,14.032,13.792,import,2
2017-05-04,13.808,13.728,13.824,14,13.84,13.872,13.808,14.176,14.176,14.096,...,14.688,14.48,14.48,13.92,13.952,14.096,14.096,14.048,import,3
2017-05-05,14,14.064,14.048,14.08,14.112,14.224,14.4,14.496,14.416,14.4,...,13.296,13.232,13.216,13.696,13.408,13.552,13.632,13.888,import,4
2017-05-06,13.36,13.456,13.648,13.536,13.488,13.392,13.632,13.856,13.632,13.424,...,13.568,13.616,13.696,13.376,13.504,13.616,13.072,13.2,import,5
2017-05-07,13.152,13.552,13.472,13.664,13.712,13.744,13.696,13.808,13.584,13.696,...,13.824,13.984,13.68,14.048,13.744,13.936,13.984,13.952,import,6
2017-05-08,14.064,14.048,14.16,14.064,14.064,14.032,14.08,14.192,14.032,13.904,...,14.112,14.08,13.904,14.032,14.176,13.744,14.112,14.16,import,0
2017-05-09,14.192,14.208,14.272,14.272,14.448,14.4,14.48,14.608,14.48,14.384,...,20.096,20.16,18.896,18.048,16.592,17.776,17.856,16.784,import,1
2017-05-10,17.744,17.104,17.68,18.064,16.832,18.144,17.744,17.408,18.144,17.072,...,14.384,14.496,14,13.84,14.08,14.064,14.064,14.256,import,2
2017-05-11,14.064,13.952,13.616,13.712,14.224,13.808,14.208,14.192,14.144,14.08,...,13.376,13.2,12.656,12.768,13.024,12.608,13.024,12.656,import,3
2017-05-12,13.024,12.736,12.672,12.816,13.008,12.448,12.848,13.024,13.04,12.992,...,13.2,13.296,12.576,13.472,12.432,13.568,12.928,12.8,import,4
2017-05-13,13.296,12.944,13.264,13.264,12.528,12.768,12.288,13.632,13.36,12.736,...,13.168,12.592,13.344,13.056,13.12,13.6,12.384,13.36,import,5
2017-05-14,12.096,13.52,12.688,13.056,13.264,12.432,13.072,12.32,13.392,12.224,...,12.496,13.056,11.92,13.088,12.272,13.12,12.208,13.392,import,6
2017-05-15,12.784,13.12,13.392,12.24,13.392,12.832,13.248,12.464,13.136,12.608,...,13.136,12.704,12.288,12.576,12.784,12.8,12.848,12.752,import,0
2017-05-16,12.992,12.816,12.96,13.008,12.736,0,0,0,0,0,...,0,0,0,0,0,0,0,0,import,1
2017-05-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,0
2017-05-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,1
2017-05-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,2
2017-05-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,3
2017-05-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,4
2017-05-06,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,5
2017-05-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,6
2017-05-08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,0
2017-05-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,1
2017-05-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,2
2017-05-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,3
2017-05-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,4
2017-05-13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,5
2017-05-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,6
2017-05-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,0
2017-05-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,export,1

In [429]:
def label_weekday(row):
    return row['weekday'] in [5, 6]

In [430]:
billData['weekend'] = billData.apply(lambda row: label_weekday(row), axis=1)

In [431]:
billData

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,20:30,21:00,21:30,22:00,22:30,23:00,23:30,Import_Export,weekday,weekend
2017-05-01,12.368,12.224,12.368,12.224,12.304,12.304,12.464,12.192,12,12.336,...,13.744,13.856,13.984,14.272,13.792,14,13.952,import,0,False
2017-05-02,14.32,14.048,14.096,14.528,14.048,14.448,14.176,14.56,14.432,14.064,...,14.672,14.64,14.56,14.496,14.592,14.528,14.384,import,1,False
2017-05-03,14.544,14.752,14.464,14.528,14.432,14.592,14.672,14.88,14.464,14.544,...,13.456,13.376,13.504,13.872,14.176,14.032,13.792,import,2,False
2017-05-04,13.808,13.728,13.824,14,13.84,13.872,13.808,14.176,14.176,14.096,...,14.48,14.48,13.92,13.952,14.096,14.096,14.048,import,3,False
2017-05-05,14,14.064,14.048,14.08,14.112,14.224,14.4,14.496,14.416,14.4,...,13.232,13.216,13.696,13.408,13.552,13.632,13.888,import,4,False
2017-05-06,13.36,13.456,13.648,13.536,13.488,13.392,13.632,13.856,13.632,13.424,...,13.616,13.696,13.376,13.504,13.616,13.072,13.2,import,5,True
2017-05-07,13.152,13.552,13.472,13.664,13.712,13.744,13.696,13.808,13.584,13.696,...,13.984,13.68,14.048,13.744,13.936,13.984,13.952,import,6,True
2017-05-08,14.064,14.048,14.16,14.064,14.064,14.032,14.08,14.192,14.032,13.904,...,14.08,13.904,14.032,14.176,13.744,14.112,14.16,import,0,False
2017-05-09,14.192,14.208,14.272,14.272,14.448,14.4,14.48,14.608,14.48,14.384,...,20.16,18.896,18.048,16.592,17.776,17.856,16.784,import,1,False
2017-05-10,17.744,17.104,17.68,18.064,16.832,18.144,17.744,17.408,18.144,17.072,...,14.496,14,13.84,14.08,14.064,14.064,14.256,import,2,False
2017-05-11,14.064,13.952,13.616,13.712,14.224,13.808,14.208,14.192,14.144,14.08,...,13.2,12.656,12.768,13.024,12.608,13.024,12.656,import,3,False
2017-05-12,13.024,12.736,12.672,12.816,13.008,12.448,12.848,13.024,13.04,12.992,...,13.296,12.576,13.472,12.432,13.568,12.928,12.8,import,4,False
2017-05-13,13.296,12.944,13.264,13.264,12.528,12.768,12.288,13.632,13.36,12.736,...,12.592,13.344,13.056,13.12,13.6,12.384,13.36,import,5,True
2017-05-14,12.096,13.52,12.688,13.056,13.264,12.432,13.072,12.32,13.392,12.224,...,13.056,11.92,13.088,12.272,13.12,12.208,13.392,import,6,True
2017-05-15,12.784,13.12,13.392,12.24,13.392,12.832,13.248,12.464,13.136,12.608,...,12.704,12.288,12.576,12.784,12.8,12.848,12.752,import,0,False
2017-05-16,12.992,12.816,12.96,13.008,12.736,0,0,0,0,0,...,0,0,0,0,0,0,0,import,1,False
2017-05-01,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,0,False
2017-05-02,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,1,False
2017-05-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,2,False
2017-05-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,3,False
2017-05-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,4,False
2017-05-06,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,5,True
2017-05-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,6,True
2017-05-08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,0,False
2017-05-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,1,False
2017-05-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,2,False
2017-05-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,3,False
2017-05-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,4,False
2017-05-13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,5,True
2017-05-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,6,True
2017-05-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,0,False
2017-05-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,1,False

In [432]:
# weekend_data = billData[billData['weekend'] == True]
# weekday_data = billData[billData['weekend'] == False]
import_data = billData[billData['Import_Export'] == 'import']
export_data = billData[billData['Import_Export'] == 'export']

In [433]:
import_data.shape

(16, 51)

In [434]:
export_data = export_data[(export_data.index >= '2017/05/03') & (export_data.index <= '2017/05/16')]
import_data = import_data[(import_data.index >= '2017/05/03') & (import_data.index <= '2017/05/16')]

In [435]:
def get_tariff_on_date_export(row):
    """
    This handles only weekends
    """
    if row['weekend']:
        return row[:'23:30'].apply(lambda each: float(each)) * 0.095
    else:
        return row[:'23:30'].apply(lambda each: float(each)) * 0.37

In [436]:
export_tariff = export_data.apply(lambda row: get_tariff_on_date_export(row), axis=1)

In [437]:
export_tariff

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,19:00,19:30,20:00,20:30,21:00,21:30,22:00,22:30,23:00,23:30
2017-05-03,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-04,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-11,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2017-05-16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [438]:
def get_tariff_on_date_import(row):
    """
    This handles only weekends
    """
    if row['weekend']:
        return row[:'23:30'].apply(lambda each: float(each)) * 0.095
    else:
        r = row[:'23:30'].apply(lambda each: float(each))
        a = r['00:00': '06:30'] * 0.095
        b = r['07:00': '21:00'] * 0.37
        c = r['21:30': '23:30'] * 0.095
        return a.append(b).append(c)
#

In [439]:
import_tariff = import_data.apply(lambda row: get_tariff_on_date_import(row), axis=1)

In [440]:
import_tariff.values.sum()

1834.9751200000001

In [441]:
# value_each = import_tariff.sum() + 167.0 - export_tariff.sum()
tariff1 = (import_tariff.sum(axis=1) - export_tariff.sum(axis=1)).sum()

In [442]:
tariff1

1816.2897599999997

In [445]:
days_for_bill = import_tariff.index.values[-1] - import_tariff.index.values[0]

In [447]:
days_for_bill.astype('timedelta64[D]') / np.timedelta64(1, 'D')

13.0

In [448]:
ts = pd.to_datetime(str(import_tariff.index.values[0]))
ts.strftime('%d/%m/%Y')

'03/05/2017'

In [450]:
from influxdb import InfluxDBClient
import pandas as pd

client = InfluxDBClient('35.166.113.128', 8086, 'root', 'root', 'ascco_world')
row = client.query("SELECT * FROM energy_consumption WHERE time >= '2017-05-01' AND time < '2017-05-30'")
pv_data = pd.DataFrame.from_dict(list(row)[0]).drop(['ac_time', 'host', 'region'], axis=1)

In [451]:
pv_data['time'] =  pd.to_datetime(pv_data.time) + pd.DateOffset(hours=8)

In [452]:
offset = 0
def approximate_timestamp(each):
    global offset
    if abs(each.minute - offset) <= 5:
        offset ^= 30
        return each

In [453]:
pv_data['weekend'] = pv_data.time.dt.dayofweek.isin([5, 6])

In [454]:
pv_data['time'] = pv_data['time'].apply(approximate_timestamp)

In [455]:
pv_data_half_hourly = pv_data.dropna().reset_index().drop('index', axis = 1)

In [456]:
pv_data_half_hourly['generated_energy'] = pv_data_half_hourly.total_energy.diff(1)

In [457]:
pv_data_half_hourly.dropna(inplace=True)

In [458]:
def round_off_time(each):
    minOffset1 = abs(each.time.minute - 0)
    minOffset2 = abs(each.time.minute - 30)
    if minOffset1 < minOffset2:
        return '%4d-%02d-%02d T%02d:%02d' % (each.time.year, each.time.month, each.time.day, each.time.hour, 0)
    else:
        return '%4d-%02d-%02d T%02d:%02d' % (each.time.year, each.time.month, each.time.day, each.time.hour, 30)

In [459]:
pv_data_half_hourly['local_time'] = pv_data_half_hourly.apply(round_off_time, axis=1)
pv_data_half_hourly = pv_data_half_hourly[(pv_data_half_hourly.time >= '2017/05/03') & 
                                          (pv_data_half_hourly.time <= '2017/05/16')]
report_data = pv_data_half_hourly.drop(['weekend'], axis=1)
cols = ['time', 'local_time', 'total_energy', 'generated_energy', 'exported_energy (kwh)', 'consumed_unit']
report_data = report_data.loc[:, cols]
report_data.rename(index=str, columns={"total_energy": "cumulative_generated_energy (kwh)", 
                                       "generated_energy": "actual_generated_energy (kwh)", 
                                       "consumed_unit": "consumed_energy (kwh)"
                                      }, inplace=True)

In [460]:
def put_export_data(each):
    _date = each.local_time.split('T')[0]
    time = each.local_time.split('T')[-1]
    date = pd.to_datetime(_date).strftime('%Y-%m-%d')
    return export_data.loc[date, time]

report_data['exported_energy (kwh)'] = report_data.apply(put_export_data, axis=1)
report_data['exported_energy (kwh)'] = report_data['exported_energy (kwh)'].apply(float)
report_data['actual_generated_energy (kwh)'] = report_data['actual_generated_energy (kwh)'].apply(float)

# report_data['consumed_energy (kwh)'].apply(float)
report_data['consumed_energy (kwh)'] = report_data['actual_generated_energy (kwh)'] - report_data['exported_energy (kwh)']
#

In [461]:
report_data

,time,local_time,cumulative_generated_energy (kwh),actual_generated_energy (kwh),exported_energy (kwh),consumed_energy (kwh)
1,2017-05-03 10:25:21.530366240,2017-05-03 T10:30,6928,6.0,0.0,6.0
2,2017-05-03 11:00:28.675272097,2017-05-03 T11:00,6940,12.0,0.0,12.0
3,2017-05-03 11:25:32.290772731,2017-05-03 T11:30,6949,9.0,0.0,9.0
4,2017-05-03 12:00:37.701108788,2017-05-03 T12:00,6962,13.0,0.0,13.0
5,2017-05-03 12:25:41.018418268,2017-05-03 T12:30,6971,9.0,0.0,9.0
6,2017-05-03 13:00:50.403855296,2017-05-03 T13:00,6984,13.0,0.0,13.0
7,2017-05-03 13:25:53.679899831,2017-05-03 T13:30,6991,7.0,0.0,7.0
8,2017-05-03 14:00:59.394197844,2017-05-03 T14:00,7002,11.0,0.0,11.0
9,2017-05-03 14:26:02.103347714,2017-05-03 T14:30,7009,7.0,0.0,7.0
10,2017-05-03 15:01:05.940879766,2017-05-03 T15:00,7019,10.0,0.0,10.0
11,2017-05-03 15:26:08.535292184,2017-05-03 T15:30,7023,4.0,0.0,4.0
12,2017-05-03 16:01:11.526670058,2017-05-03 T16:00,7029,6.0,0.0,6.0
13,2017-05-03 16:26:13.898800856,2017-05-03 T16:30,7031,2.0,0.0,2.0
14,2017-05-03 17:01:17.772066274,2017-05-03 T17:00,7032,1.0,0.0,1.0
15,2017-05-03 17:26:20.433358343,2017-05-03 T17:30,7033,1.0,0.0,1.0
16,2017-05-03 18:01:23.977344916,2017-05-03 T18:00,7033,0.0,0.0,0.0
17,2017-05-03 18:26:26.638123623,2017-05-03 T18:30,7033,0.0,0.0,0.0
18,2017-05-03 19:01:29.664507764,2017-05-03 T19:00,7033,0.0,0.0,0.0
19,2017-05-03 19:26:32.345524688,2017-05-03 T19:30,7033,0.0,0.0,0.0
20,2017-05-03 20:01:35.552048092,2017-05-03 T20:00,7033,0.0,0.0,0.0
21,2017-05-03 20:26:38.126168279,2017-05-03 T20:30,7033,0.0,0.0,0.0
22,2017-05-03 21:01:41.546304903,2017-05-03 T21:00,7033,0.0,0.0,0.0
23,2017-05-03 21:26:44.135362371,2017-05-03 T21:30,7033,0.0,0.0,0.0
24,2017-05-03 22:01:47.822451472,2017-05-03 T22:00,7033,0.0,0.0,0.0
25,2017-05-03 22:26:50.461124820,2017-05-03 T22:30,7033,0.0,0.0,0.0
26,2017-05-03 23:01:53.970910671,2017-05-03 T23:00,7033,0.0,0.0,0.0
27,2017-05-03 23:26:56.689473847,2017-05-03 T23:30,7033,0.0,0.0,0.0
28,2017-05-04 00:02:00.178369653,2017-05-04 T00:00,7033,0.0,0.0,0.0
29,2017-05-04 00:27:02.929065465,2017-05-04 T00:30,7033,0.0,0.0,0.0
30,2017-05-04 01:02:06.976866371,2017-05-04 T01:00,7033,0.0,0.0,0.0
...,...,...,...,...,...,...
524,2017-05-15 04:01:25.192746369,2017-05-15 T04:00,8354,0.0,0.0,0.0
525,2017-05-15 04:26:30.394943484,2017-05-15 T04:30,8354,0.0,0.0,0.0
526,2017-05-15 05:01:38.586566679,2017-05-15 T05:00,8354,0.0,0.0,0.0
527,2017-05-15 05:26:44.435574481,2017-05-15 T05:30,8354,0.0,0.0,0.0
528,2017-05-15 06:03:13.525612337,2017-05-15 T06:00,8354,0.0,0.0,0.0
529,2017-05-15 06:28:28.044174250,2017-05-15 T06:30,8354,0.0,0.0,0.0
530,2017-05-15 07:03:44.844615182,2017-05-15 T07:00,8354,0.0,0.0,0.0
531,2017-05-15 07:28:57.917964463,2017-05-15 T07:30,8355,1.0,0.0,1.0
532,2017-05-15 08:04:15.983096012,2017-05-15 T08:00,8355,0.0,0.0,0.0
533,2017-05-15 08:29:28.977888659,2017-05-15 T08:30,8358,3.0,0.0,3.0
534,2017-05-15 09:04:46.256428669,2017-05-15 T09:00,8362,4.0,0.0,4.0
535,2017-05-15 09:29:59.171725846,2017-05-15 T09:30,8365,3.0,0.0,3.0
536,2017-05-15 15:04:13.809816236,2017-05-15 T15:00,8379,14.0,0.0,14.0
537,2017-05-15 15:29:29.669535481,2017-05-15 T15:30,8384,5.0,0.0,5.0
538,2017-05-15 16:04:52.924617934,2017-05-15 T16:00,8389,5.0,0.0,5.0
539,2017-05-15 16:25:04.227323026,2017-05-15 T16:30,8390,1.0,0.0,1.0
540,2017-05-15 17:05:34.740644579,2017-05-15 T17:00,8391,1.0,0.0,1.0
541,2017-05-15 17:25:46.633325710,2017-05-15 T17:30,8391,0.0,0.0,0.0
542,2017-05-15 18:01:06.776912764,2017-05-15 T18:00,8391,0.0,0.0,0.0
543,2017-05-15 18:26:20.171015121,2017-05-15 T18:30,8391,0.0,0.0,0.0
544,2017-05-15 19:01:39.326609656,2017-05-15 T19:00,8391,0.0,0.0,0.0
545,2017-05-15 19:26:52.921083956,2017-05-15 T19:30,8391,0.0,0.0,0.0
546,2017-05-15 20:02:11.722690495,2017-05-15 T20:00,8391,0.0,0.0,0.0
547,2017-05-15 20:27:24.614010316,2017-05-15 T20:30,8391,0.0,0.0,0.0
548,2017-05-15 21:02:45.227639064,2017-05-15 T21:00,8391,0.0,0.0,0.0
549,2017-05-15 21:27:58.677382664,2017-05-15 T21:30,8391,0.0,0.0,0.0
550,2017-05-15 22:03:19.039373397,2017-05-15 T22:00,8391,0.0,0.0,0.0
551,2017-05-15 22:28:32.614147180,2017-05-15 T22:30,8391,0.0,0.0,0.0
552,2017-05-15 23:03:51.493877317,2017-05-15 T23:00,8391,0.0,0.0,0.0
553,2017-05-15 23:29:04.431958058,2017-05-15 T23:30,8391,0.0,0.0,0.0

In [462]:
export_data

,00:00,00:30,01:00,01:30,02:00,02:30,03:00,03:30,04:00,04:30,...,20:30,21:00,21:30,22:00,22:30,23:00,23:30,Import_Export,weekday,weekend
2017-05-03,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,2,False
2017-05-04,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,3,False
2017-05-05,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,4,False
2017-05-06,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,5,True
2017-05-07,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,6,True
2017-05-08,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,0,False
2017-05-09,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,1,False
2017-05-10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,2,False
2017-05-11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,3,False
2017-05-12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,4,False
2017-05-13,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,5,True
2017-05-14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,6,True
2017-05-15,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,0,False
2017-05-16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,export,1,False

In [463]:
off_peak_energy1 = report_data[report_data.time.dt.weekday >= 5]['consumed_energy (kwh)'].sum()

In [464]:
weekday_data = report_data[report_data.time.dt.weekday < 5]

In [465]:
peak_energy = weekday_data[(weekday_data.time.dt.hour < 21) & (weekday_data.time.dt.hour >= 7)]['consumed_energy (kwh)'].sum()

In [466]:
off_peak_energy2 = weekday_data[~((weekday_data.time.dt.hour < 21) & (weekday_data.time.dt.hour >= 7))]['consumed_energy (kwh)'].sum()

In [467]:
peak_energy

956.0

In [468]:
off_peak_energy1 + off_peak_energy2

316.31200000000001

In [469]:
report_data = report_data.drop(['time'], axis=1)
report_data.to_csv('May2017.csv')

In [472]:
report_data['actual_generated_energy (kwh)'].sum()

1469.0